.heading{
    font-size: 25px;
}
.btn-warning{
    font-size: 20px;
}
.btn-warning:hover{
    background-color: rgb(231, 79, 175);
}
canvas{
    animation-name: First;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes First{
from{
    box-shadow: 1px 1px 50px rgb(223, 41, 156);
}
to{box-shadow: 1px 1px 50px rgb(0, 132, 255);}
}